body {
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
div.dv_navi {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: #aaddff;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
div.dv_navi::-webkit-scrollbar {
    display: none;
}
ul.ul_navi {
    list-style: none;
    white-space: nowrap;
    margin: 0;
    padding: 8px 12px;
}
ul.ul_navi li {
    display: inline;
}
ul.ul_navi li+li:before {
    color: #404040;
    content: "/";
    font-size: 150%;
    padding: 5px;
}
ul.ul_navi li.li_seldir {
    color: #404040;
    font-size: 100%;
    font-weight: normal;
    font-style: italic;
}
ul.ul_navi li.li_seldir:before {
    font-size: 150%;
    font-weight: normal;
    font-style: normal;
}
ul.ul_navi li a {
    font-size: 110%;
    font-weight: bold;
    color: #404040;
    text-decoration: none;
    transition: font-size 0.5s ease;
}
ul.ul_navi li a:hover {
    color: #102080;
    font-size: 150%;
}
div.dv_title {
    position: fixed;
    z-index: 1;
    top: 40px;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    background-color: #ddeeff;
}
.micon {
    width: 64px;
    height: 64px;
    margin: 8px;
}
.mtype {
    position: absolute;
    top: 0;
    left: 88px;
    margin: 8px;
    font-size: 160%;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline double #0080ff;
    color: #0080ff;
}
.mdirname {
    position: absolute;
    top: 32px;
    left: 88px;
    margin: 8px;
    font-size: 200%;
    font-weight: bold;
    color: #0080ff;
    white-space: nowrap;
}
.body_page {
    position: absolute;
    width: calc(100vw - 22px);
    height: auto;
    padding: 10px;
    margin-top: 120px;
    display: grid;
    grid-template-columns: calc(100vw - 32px);
    gap: 10px;
}
@media only screen and (max-height: 360px) {
    div.dv_title {
        height: 30px;
    }
    .body_page {
        margin-top: 70px;
    }
    .micon {
        width: 24px;
        height: 24px;
        margin: 3px 8px;
    }
    .mtype {
        left: 40px;
        margin: 5px;
        font-size: 120%;
        text-decoration: none;
        font-style: normal;
    }
    .mdirname {
        font-size: 120%;
        top: 0;
        left: 110px;
        margin: 5px;
    }
}
@media only screen and (min-width: 480px) {
    .body_page { grid-template-columns: calc(50vw - 16px) calc(50vw - 16px); }
}
@media only screen and (min-width: 600px) {
    .body_page { grid-template-columns: calc(33.3vw - 15px) calc(33.3vw - 15px) calc(33.3vw - 15px); }
}
@media only screen and (min-width: 800px) {
    .body_page { grid-template-columns: calc(25vw - 14px) calc(25vw - 14px) calc(25vw - 14px) calc(25vw - 14px); }
}
.body_page a {
    text-align: center;
    border-radius: 12px;
    min-height: 80px;
    padding: 10px;
    text-decoration: none;
    transition: 0.5s ease;
}
.body_page a:hover {
    transform: scale(1.25);
}
.icons {
    width: 64px;
    height: 64px;
}
.inames {
    color: #0080ff;
    font-weight: bold;
}